<div class = "add"> 
    <a routerLink="/add" routerLinkActive="active-link"><button class="btn btn-success pull-right" > Add Customer</button></a>
    </div>
<section>
    <div class="container">
<div *ngIf="list" class="card card-primary">
    <div class="card-header">
        <h3>Customer List</h3>
    </div>
    <div class="card-body p-4">
        <table class="table table-striped table-bordered" border="1 ">
            <thead class="bg-secondary">
            <!-- <tr>
                 <th *ngFor="let h of headers">{{h|titlecase}}</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let b of books">
                <td *ngFor="let h of headers">{{b[h]}}</td>
                <td>
                    <a routerLink="/edit/{{b.bcode}}" class="btn btn-sm btn-primary mr-2">EDIT</a>
                    <a (click)="deleteBook(b.bcode)" class="btn btn-sm btn-danger text-light">DELETE</a>
                </td>
            </tr> -->
          <tr> 
            <th>Name</th>
            <th> WaterMeterNo</th>
            <th> CustomerCode</th>
            <th> Deatils</th>
           
           
          </tr>
        </thead>
        <tbody>
         <tr   *ngFor= "let b of list">

                <td>{{b.Name}}</td>
                <td>{{b.WaterMeterNo}}</td>
                <td>{{b.CustomerCode}}</td>
                
                <td>
                    <a routerLink="/view" class="btn btn-sm btn-primary mr-2">Details</a>
                        
                    </td>

          </tr>
        </tbody>

        </table>
    </div>
</div>

</div>
</section>


  
  
